body
{
backGround-image:url(asus.jpg);
}
#mymenu
{
	background-color:rgba(250,50,150,0.7);
	color:White;
	text-align:center;
}
#mymenu ul li
{
	display:inline-block;
	padding:20px;
}
#mymenu ul li:hover
{
	display:inline-block;
	padding:20px;
	background:white;
	color:black;
}
table
{
margin-top:50px;
background-color:rgba(0,0,0,0.5);
color:white;
box-shadow:15px 15px 15px white;		
}
.B
{
	background:linear-gradient(yellow,red);
	color:white;
	border-radius:100px 200px 100px 200px;
	padding:15px;
}
.B:hover
{
	background:linear-gradient(yellow,red);
	color:white;
	border-radius:100px 200px 100px 200px;
	padding:15px;
}
.A
{
	border-radius:50px;
}
